[submodule "admin"]
	path = admin
	url = https://github.com/skarphed/skarphed-admin
[submodule "core"]
	path = core
	url = https://github.com/skarphed/skarphed-core
[submodule "repo"]
	path = repo
	url = https://github.com/skarphed/skarphed-repo
[submodule "common"]
	path = common
	url = https://github.com/skarphed/skarphed-common
