*.pyc
templates/default_template/default_template.tar.gz
modules/grindhold_plainhtml/grindhold_plainhtml.tar.gz
modules/grindhold_flatmenu/grindhold_flatmenu.tar.gz
modules/grindhold_news/grindhold_news.tar.gz
modules/grindhold_footermenu/grindhold_footermenu.tar.gz
*.swp
*.deb
repo/pkg/deb/skarphed-repo/etc
repo/pkg/deb/skarphed-repo/tmp
repo/pkg/deb/skarphed-repo/var
repo/pkg/deb/skarphed-repo/usr
repo/pkg/deb/skarphed-repo/DEBIAN/control
admin/pkg/deb/skarphed-admin/usr
admin/pkg/deb/skarphed-admin/DEBIAN/control