*.pyc
templates/default_template/default_template.tar.gz
modules/grindhold_plainhtml/grindhold_plainhtml.tar.gz
modules/grindhold_flatmenu/grindhold_flatmenu.tar.gz
modules/grindhold_news/grindhold_news.tar.gz
modules/grindhold_footermenu/grindhold_footermenu.tar.gz
*.swp
*.deb
repo/pkg/deb/skdrepo-web/etc
repo/pkg/deb/skdrepo-web/tmp
repo/pkg/deb/skdrepo-web/var
repo/pkg/deb/skdrepo-web/usr
repo/pkg/deb/skdrepo-web/DEBIAN/control
repo/pkg/deb/skdrepo/etc
repo/pkg/deb/skdrepo/usr
repo/pkg/deb/skdrepo/DEBIAN/control
admin/pkg/deb/skarphed-admin/usr
admin/pkg/deb/skarphed-admin/var
admin/pkg/deb/skarphed-admin/DEBIAN
