<phpunit>
  <testsuites>
    <testsuite name="Scoville">
      <file>./TestCore.php</file>
      <file>./TestDatabase.php</file>
      <file>./TestUsersAndRights.php</file>
      <file>./TestOperation.php</file>
      <file>./TestCss.php</file>
      <file>./TestBinary.php</file>
    </testsuite>
  </testsuites>
</phpunit>