Package: skarphed-core
Priority: optional
Section: web
Installed-Size: $SIZE
Maintainer: Daniel Brendle <grindhold@skarphed.org>
Architecture: all
Version: 0.1
Depends: python (>= 2.6) 
Description: Common files for the skarphed webmanagement system.
 This package contains shared code for all skarphed-components
