html {
    background-color:#0f0f0f;
    color:#fff;
}

body {
    padding:0px;
    margin:0px;
    border:none;
    background: rgb(15,15,15);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(15,15,15,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(15,15,15,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(15,15,15,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(15,15,15,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(15,15,15,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
    
}

#body_overlay {
    padding:0px;
    margin:0px;
    border:none;
    background-image:url('static/bg.png');
}

header{
    z-index: -2;
    width:100%;
    height:40px;
    background: rgb(109,109,109);
}

#headercontent {
    z-index: -2;
    width: 924px;
    height: 33px;
    margin-left:auto;
    margin-right:auto;
    padding-top:7px;
    padding-left:50px;
    padding-right:50px;
    background: rgb(130,130,130); 
    font-family: 'News Cycle';
    font-weight: bold;
    font-style: normal; 
    text-transform:uppercase;

}


.headerlink {
    font-size:100%;
    font-family: 'News Cycle';
    font-weight: bold;
    font-style: normal; 
    text-transform:uppercase;
    margin-left:20px;
    margin-right:40px;
    padding-top:40px;
    text-decoration:none;
    color:#333;
    text-shadow: 1px 1px 0px #ddd;
}

.headerlink:hover {
    color:#fff;
    -moz-transition: 0.3s;
    text-shadow: 0px 0px 10px #af0, 0px 0px 10px #af0, 0px 0px 10px #af0;
}

#space_content {
    margin-left:auto;
    margin-right:auto;
    width:924px;

    background-color: #aaa;
    border-bottom:1px solid #aaa;
    box-shadow: 0px 1px 10px #555;
    padding:50px;
}

#space_loginbutton{
    float:right;
}
footer {
    margin-left:auto;
    margin-right:auto;
    width:924px;
    background-color: #222;
    border-top:1px solid #555;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0px 1px 7px #222;
    padding:50px;
}

div.contentline {
    width:100%;
    height:1px;
    border-bottom:1px dotted #ccc;
    margin-bottom:10px;
}
