        <div id="body_overlay" >
            <header>
                <div id="headercontent">
                    <img src="/static/logo_32.png" alt="skarphed" style="float:left;">
                    <div id="space_headmenu">
                        <% space:headmenu %>
                    </div>
                    <div id="space_searchbar">
                        <% space:searchbar %>
                    </div>
                    <div id="space_loginbutton">
						<% space:login %>
                    </div>
                </div>
            </header>

            <div id="space_content">
                <div id="vbox_sidebar">
                    <% vbox:sidebar %>
                </div>
				<% space:content %>
            </div>


            <footer id="space_footer">
                <% space:footer %>
            </footer>
        </div>

