        <div id="body_overlay" >
            <header>
                <div id="headercontent">
                    <img src="static/logo_32.png" alt="scoville" style="float:left;">
                    <div id="space_headmenu">
                        <% headmenu %>
                    </div>
                    <div id="space_searchbar">
                        <% searchbar %>
                    </div>
                    <div id="space_loginbutton">
						<% login %>
                    </div>
                </div>
            </header>

            <div id="space_content">
				<% content %>
            </div>


            <footer id="space_footer">
                <% footer %>
            </footer>
        </div>

