h1 {
	font-family:Verdana;
	color:#fff;
}

h2 {
	font-family:Verdana;
	color:#af0;
}

h3 {
	font-family:Verdana;
	color:#ddd;
}

p {
	font-family:Verdana;
	color:#fff;
}

em {
	font-family:Verdana;
	color:#af0;
}

strong {
	font-family:Verdana;
	color:#af0;
}

a {
	font-family:Verdana;
	color:#af0;
	text-decoration: none;
}

table{
	border:0px;
}
